.component__contact {
}
.component__contact-title {
  width: 80%;
  line-height: 80px;
  font-size: 70px;
  font-weight: 200;
  color: #ffffff;
  margin: 0 auto 1rem;
}
.component__contact-title span {
  color: #1aace7;
  font-weight: 600;
}
