form .form--col-4 {
  width: 33.33%;
}
form .form--col-6 {
  width: 50%;
}
form .form--col-12 {
  width: 100%;
}

@media screen and (max-width: 725px) {
  form .form--col-4 {
    width: 100%;
  }
  form .form--col-6 {
    width: 100%;
  }
}
