#form__contact {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}
#form__contact .form--col {
  height: auto;
  padding: 0 0.25rem;
  margin-bottom: 1.25rem;
}
#form__contact .form--col.form--col--textarea {
  margin-bottom: 0;
}
#form__contact .form--col.form--col--hidden {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
/* Custom form field */
#form__contact .form--col .form--field--wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
/* Title All */
#form__contact .form--col .form--field--wrapper .form--field--title {
  margin: 0;
  height: 30px;
  font-weight: 400;
  font-size: 16px;
  transition: 0.25s;
  color: #ffffff;
  transform: translateY(33px);
}
#form__contact .form--col .form--field--wrapper .form--field--title span {
  color: #ff5a35;
}
#form__contact .form--col .form--field--wrapper.is_active .form--field--title {
  font-size: 12px;
  color: #1aace7;
  transform: translateY(8px);
}
#form__contact .form--col .form--field--wrapper.is_error .form--field--title {
  color: #ff5a35;
  transform: translateY(8px);
}

/* Field wrapper - All */
#form__contact .form--col .form--field--wrapper .form--field--input_wrapper {
  height: 30px;
  min-height: 30px;
  position: relative;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ffffff;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  transition: 0.2s linear;
}
#form__contact
  .form--col
  .form--field--wrapper
  .form--field--input_wrapper:hover,
#form__contact
  .form--col
  .form--field--wrapper.is_active
  .form--field--input_wrapper {
  border-color: #1aace7;
}
#form__contact
  .form--col
  .form--field--wrapper.is_error
  .form--field--input_wrapper {
  border-color: #ff5a35;
}
#form__contact
  .form--col
  .form--field--wrapper
  .form--field--input_wrapper::after {
  content: "";
  height: 2px;
  display: block;
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 0;
  background-color: #1aace7;
  transition: 0.2s linear;
  z-index: 10;
}

#form__contact
  .form--col
  .form--field--wrapper
  .form--field--input_wrapper:hover::after,
#form__contact
  .form--col
  .form--field--wrapper.is_active
  .form--field--input_wrapper::after {
  right: 0;
  left: 0;
}
#form__contact
  .form--col
  .form--field--wrapper.is_error
  .form--field--input_wrapper::after {
  right: 0;
  left: 0;
  background-color: #ff5a35;
}

/* Input */
#form__contact .form--col .form--field--wrapper .form--field--input_wrapper * {
  width: 100%;
  color: #777771;
  border: none;
  outline: none;
  width: 100%;
  background-color: transparent;
  padding: 4px 0;
}
#form__contact
  .form--col
  .form--field--wrapper
  .form--field--input_wrapper
  *::placeholder {
  width: 100%;
}
/* Textarea */
#form__contact
  .form--col
  .form--field--wrapper
  .form--field--input_wrapper.textarea {
  height: auto;
  min-height: 30px;
}
#form__contact
  .form--col
  .form--field--wrapper
  .form--field--input_wrapper
  textarea {
  resize: none;
}
/* Placeholder */
#form__contact
  .form--col
  .form--field--wrapper.is_active
  .form--field--input_wrapper
  input {
  border-color: #1aace7;
}
#form__contact
  .form--col
  .form--field--wrapper.is_error
  .form--field--input_wrapper
  input {
  border-color: #ff5a35;
}
#form__contact
  .form--col
  .form--field--wrapper
  .form--field--input_wrapper
  input::placeholder {
  color: transparent;
}
#form__contact
  .form--col
  .form--field--wrapper
  .form--field--input_wrapper
  input,
#form__contact
  .form--col
  .form--field--wrapper
  .form--field--input_wrapper
  textarea {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #1aace7;
}

/* Form message error */
#form__contact .form--col .form--field--wrapper .form--field--message {
  height: 20px;
}
#form__contact .form--col .form--field--wrapper .form--field--message p {
  font-size: 12px;
  margin-top: 3px;
  margin-bottom: 0;
  color: #ffffff;
}
#form__contact
  .form--col
  .form--field--wrapper.is_active
  .form--field--message
  p {
  color: #1aace7;
}
#form__contact
  .form--col
  .form--field--wrapper.is_error
  .form--field--message
  p {
  color: #ff5a35;
}

/* Submit Button */
.form__contact-button_submit {
  margin-top: 2rem;
  width: 100%;
}

.form__contact-button_submit button {
  width: 15rem;
  background-color: transparent;
  border-radius: 60px;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 0.5rem 2rem;
  font-size: 16px;
  cursor: pointer;
}
