@import url(./assets/css/font.css);
@import url(./assets/css/Home.css);
@import url(./assets/css/Content.css);
@import url(./assets/css/Morph.css);
@import url(./assets/css/About.css);
@import url(./assets/css/Contact.css);
@import url(./assets/css/FormContact.css);
@import url(./assets/css/Form.css);

.app {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  display: flex;
}
* {
  font-family: "Poppins";
  box-sizing: border-box;
}
